[project]
name = "ducksearch"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ddgs>=9.10.0",
    "pytest>=9.0.2",
]

[dependency-groups]
dev = [
    "pyinstaller>=6.18.0",
]
